<h1>Add Contest</h1>
Controller: {{ contests.controllerName }}

<!-- ,
: String,
parts: String,
prizes.grand_prize:
schedule.submision_date
schedule.submision_deadline
schedule.results_date
schedule.results_deadline
}, -->

<div class="container">
  <div class="center-form panel">
    <div class="panel-body">
      <h4 class="text-center"><i class="ion-log-in"></i> Add Contest</h4>

      <form name="contests.addContestForm" ng-submit="contests.add()" novalidate>
        
        <div class="form-group has-feedback" ng-class="{ 'has-error': addContestForm.title.$invalid && addContestForm.title.$dirty }">
          <input server-error class="form-control input-lg" type="text" name="title" ng-model="contests.newContest.title" placeholder="Contest Title" required autofocus>

          <div class="help-block" ng-if="addContestForm.title.$dirty" ng-messages="addContestForm.title.$error">
            <div ng-message="required">Please enter a title</div>
            <div ng-message="server">{{errorMessage.title}}</div>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error': addContestForm.details.$invalid && addContestForm.details.$dirty }">
          <input server-error class="form-control input-lg" type="text" name="details" ng-model="contests.newContest.details" placeholder="Contest Details" required autofocus>

          <div class="help-block" ng-if="addContestForm.details.$dirty" ng-messages="addContestForm.details.$error">
            <div ng-message="required">Please enter a details</div>
            <div ng-message="server">{{errorMessage.details}}</div>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error': addContestForm.rules.$invalid && addContestForm.rules.$dirty }">
          <input server-error class="form-control input-lg" type="text" name="rules" ng-model="contests.newContest.rules" placeholder="Rules" required autofocus>

          <div class="help-block" ng-if="addContestForm.rules.$dirty" ng-messages="addContestForm.rules.$error">
            <div ng-message="required">Please enter a rules</div>
            <div ng-message="server">{{errorMessage.rules}}</div>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error': addContestForm.prizes.grand_prize.$invalid && addContestForm.prizes.grand_prize.$dirty }">
          <input server-error class="form-control input-lg" type="text" name="grandPrize" ng-model="contests.newContest.prizes.grand_prize" placeholder="Grand Prize" required autofocus>

          <div class="help-block" ng-if="addContestForm.prizes.grand_prize.$dirty" ng-messages="addContestForm.prizes.grand_prize.$error">
            <div ng-message="required">Please enter a Prizes</div>
            <div ng-message="server">{{errorMessage.prizes.grand_prize}}</div>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error': addContestForm.schedule.submision_date.$invalid && addContestForm.schedule.submision_date.$dirty }">
          <input server-error class="form-control input-lg" type="date" name="grandPrize" ng-model="contests.newContest.schedule.submision_date" placeholder="Submission Date" required autofocus>

          <div class="help-block" ng-if="addContestForm.schedule.submision_date.$dirty" ng-messages="addContestForm.schedule.submision_date.$error">
            <div ng-message="required">Please enter a Submission Date</div>
            <div ng-message="server">{{errorMessage.schedule.submision_date}}</div>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error': addContestForm.schedule.results_date.$invalid && addContestForm.schedule.results_date.$dirty }">
          <input server-error class="form-control input-lg" type="date" name="grandPrize" ng-model="contests.newContest.schedule.results_date" placeholder="Result Date" required autofocus>

          <div class="help-block" ng-if="addContestForm.schedule.results_date.$dirty" ng-messages="addContestForm.schedule.results_date.$error">
            <div ng-message="required">Please enter a Result Date</div>
            <div ng-message="server">{{errorMessage.schedule.results_date}}</div>
          </div>
        </div>
        
        <button type="submit" class="btn btn-block btn-success" ng-disabled="addContestForm.$invalid">Submit</button>

      </form>
    </div>
  </div>
</div>