<div class="container" ng-hide="users.isLoggedIn()">

  <div class="center-form panel">
    <div class="panel-body">
      <h4 class="text-center"><i class="ion-person-add"></i>Register</h4>
      <form method="post" ng-submit="users.register()" name="users.registerForm">
      
<!--       <div class="form-group">
        <label for="type" class="col-lg-2 col-lg-offset-2 control-label">Please select your account type:</label>
        <div class="col-lg-4">
          <select class="form-control" id="type" name="type" ng-model="users.user.type">
            <option value="user">Producer</option>
            <option value="client">Client</option>
          </select>
        </div>
      </div> -->

    <!--   <div class="form-group has-feedback">
        <label for="username" class="col-lg-2 col-lg-offset-2 control-label">Username</label>
        <div class="col-lg-4">
          <input type="text" class="form-control" name="Username" id="inputEmail" placeholder="Username" ng-model="users.user.username">
        </div>
      </div> -->

      <div class="form-group has-feedback">
        <input class="form-control input-lg" type="text" id="username" name="username" ng-model="users.user.username" placeholder="username" required>
        <span class="ion-at form-control-feedback"></span>
      </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error' : users.registerForm.email.$invalid && users.registerForm.email.$dirty }">
          <input class="form-control input-lg" type="text" id="email" name="email" ng-model="users.user.email" placeholder="Email" required>
          <span class="ion-at form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error' : users.registerForm.password.$invalid && users.registerForm.password.$dirty }">
          <input class="form-control input-lg" type="password" name="password" ng-model="users.user.password" placeholder="Password" required>
          <span class="ion-key form-control-feedback"></span>
        </div>

        <p class="text-center text-muted"><small>By clicking on Sign up, you agree to <a href="#">terms & conditions</a> and <a href="#">privacy policy</a></small></p>

        <button type="submit" class="btn btn-block btn-primary">Sign up</button>
        <br/>

        <p class="text-center text-muted"><small>Already have an account? <a ui-sref="login">Log in now</a></small></p>
      </form>
    </div>
  </div>

</div>
