<!-- Register form -->
<section id="register" ng-hide="producers.checkLoggedIn()">
  <div class="pure-g">
    <div class="pure-u-1">
      <form name="producers.registerForm" class="pure-form pure-form-aligned" ng-submit="producers.register()" novalidate>

        <legend>Register</legend>

        <div class="pure-control-group">
          <label for="producername">Username</label>
          <input type="text" name="Username" placeholder="Username" ng-model="producers.producer.username">
        </div>

        <div class="pure-control-group">
          <label for="fullname">Forename</label>
          <input type="text" name="Forename" placeholder="Forename" ng-model="producers.producer.first_name">
        </div>

        <div class="pure-control-group">
          <label for="fullname">Surname</label>
          <input type="text" name="surname" placeholder="Surname" ng-model="producers.producer.last_name">
        </div>

        <div class="pure-control-group">
          <label for="image">ImageURL</label>
          <input type="text" name="image" placeholder="Image URL " ng-model="producers.producer.image">
        </div>

        <div class="pure-control-group">
          <label for="email">Email</label>
          <input type="text" name="email" placeholder="Email" ng-model="producers.producer.email" required>
        </div>

        <div class="ng-message-error pure-control-group" ng-messages="producers.registerForm['email'].$error" ng-show="(producers.registerForm.$submitted || producers.registerForm['email'].$touched)">
          <p ng-message="required">Email is required.</p>
        </div>

        <div class="pure-control-group">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password" ng-model="producers.producer.password" required>
        </div>

        <div class="ng-message-error pure-control-group" ng-messages="producers.registerForm['password'].$error" ng-show="(producers.registerForm.$submitted || producers.registerForm['password'].$touched)">
          <p ng-message="required">Password is required.</p>
        </div>

        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary">Register</button>
        <div class="pure-controls">
        
      </form>
    </div>
  </div>
</section>