<h1>Edit</h1>
<form method="post" ng-submit="users.editUser()" name="users.registerForm">


  <div class="form-group has-feedback">
    <input class="form-control input-lg" type="text" id="username" name="username" ng-model="users.user.local.username" placeholder="username" ng-model="users.user.local.username" required>
  </div>

  <div class="form-group has-feedback" ng-class="{ 'has-error' : users.registerForm.email.$invalid && users.registerForm.email.$dirty }">
    <input class="form-control input-lg" type="text" id="email" name="email" ng-model="users.user.local.email" placeholder="Email" ng-model="users.user.local.email" required>
  </div>

  <div class="form-group has-feedback" ng-class="{ 'has-error' : users.registerForm.password.$invalid && users.registerForm.password.$dirty }">
    <input class="form-control input-lg" type="first_name" name="first_name" ng-model="users.user.local.first_name" placeholder="Forename" ng-model="users.user.local.first_name" required>
  </div>

  <div class="form-group has-feedback" ng-class="{ 'has-error' : users.registerForm.password.$invalid && users.registerForm.password.$dirty }">
    <input class="form-control input-lg" type="last_name" name="last_name" ng-model="users.user.local.last_name" placeholder="Surname" ng-model="users.user.local.last_name" required>
  </div>


  <button type="submit" class="btn btn-block btn-primary">Update</button>
  <button type="submit" class="btn btn-block btn-primary"ui-sref="profile({id:users.currentUser._id})">Back</a></button>
  <br/>

</form>
