<h1>Add Song</h1>
Controller: {{ songs.controllerName }}

<div class="container">
  <div class="form panel">
    <div class="panel-body">
      <h4 class="text-center"><i class="ion-log-in"></i> Add Song</h4>

      <form name="songs.addSongForm" ng-submit="songs.add()" novalidate>
        
        <div class="form-group has-feedback" ng-class="{ 'has-error': addSongForm.title.$invalid && addSongForm.title.$dirty }">
          <input server-error class="form-control input-lg" type="text" name="title" ng-model="songs.newSong.title" placeholder="Title" required autofocus>

          <div class="help-block" ng-if="addSongForm.title.$dirty" ng-messages="addSongForm.title.$error">
            <div ng-message="required">Please enter a title</div>
            <div ng-message="server">{{errorMessage.title}}</div>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error': addSongForm.image.$invalid && addSongForm.image.$dirty }">
          <input server-error class="form-control input-lg" type="text" name="image" ng-model="songs.newSong.image" placeholder="Image" required autofocus>

          <div class="help-block" ng-if="addSongForm.image.$dirty" ng-messages="addSongForm.image.$error">
            <div ng-message="required">Please enter a image</div>
            <div ng-message="server">{{errorMessage.image}}</div>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error': addSongForm.genre.$invalid && addSongForm.genre.$dirty }">
          <input server-error class="form-control input-lg" type="text" name="genre" ng-model="songs.newSong.genre" placeholder="Genre" required autofocus>

          <div class="help-block" ng-if="addSongForm.genre.$dirty" ng-messages="addSongForm.genre.$error">
            <div ng-message="required">Please enter a genre</div>
            <div ng-message="server">{{errorMessage.genre}}</div>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error': addSongForm.bpm.$invalid && addSongForm.bpm.$dirty }">
          <input server-error class="form-control input-lg" type="text" name="bpm" ng-model="songs.newSong.bpm" placeholder="Bpm" required autofocus>

          <div class="help-block" ng-if="addSongForm.bpm.$dirty" ng-messages="addSongForm.bpm.$error">
            <div ng-message="required">Please enter a bpm</div>
            <div ng-message="server">{{errorMessage.bpm}}</div>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error': addSongForm.bpm.$invalid && addSongForm.url.$dirty }">
          <input server-error class="form-control input-lg" type="text" name="url" ng-model="songs.newSong.url" placeholder="Url" required autofocus>

          <div class="help-block" ng-if="addSongForm.url.$dirty" ng-messages="addSongForm.url.$error">
            <div ng-message="required">Please enter a url</div>
            <div ng-message="server">{{errorMessage.url}}</div>
          </div>
        </div>


        <button type="submit" class="btn btn-success" ng-disabled="addSongForm.$invalid">Log in</button>

      </form>
    </div>
  </div>
</div>