<div class="jumbotron" ng-show="users.isLoggedIn()">
  <div class="container">
    <div class="col-md-8">
      <img src="https://facehoff.herokuapp.com/300/300" class="img-responsive" alt="Image">
    </div>
    <div class="col-md-4">
      <h1>{{ users.user.local.username | uppercase }}</h1>
      <p>{{ users.user.local.role }}</p>
      <button class="btn btn-primary" ng-if="users.currentUser._id === users.user._id" ui-sref="edit({id:users.user._id})"><i class="ion-gear-a"></i> Edit</button>
    </div>
  </div>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a ui-sref-active="active" ui-sref=".bio">Bio</a></li>
      <li><a ui-sref-active="active" ui-sref=".playlist">Playlist</a></li>
      <li><a ui-sref-active="active" ui-sref=".contest">Contest</a></li>
      <li><a href="">Followers</a></li>
      <li><a href="">Following</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<div ui-view></div>
