<h1>Songs</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Song Title</th>
      <th>Genre</th>
      <th>BPM</th>
      <th>Song</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="song in songs.all" data-id="{{song._id}}">
      <td><a href="#"><img class="img-responsive" src="http://www.fillmurray.com/500/300"></a></td>
      <td>{{song.title}}</td>
      <td>{{song.genre}}</td>
      <td>{{song.bpm}}</td>
      <td><audio ng-src="{{song.url | trustUrl }}" controls></audio></td>
      <td>{{song.artist.local.username}}</td>
      <!-- <td>{{users.user.local.username}}</td> -->
   </tr>
 </tbody>
</table>
