<h1>Songs</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Song Title</th>
      <th>Genre</th>
      <th>BPM</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="song in songs.all" data-id="{{song._id}}">
      <td><a href="#"><img class="img-responsive" src="http://www.fillmurray.com/500/300"></a></td>
      <td>{{song.title}}</td>
      <td>{{song.genre}}</td>
      <td>{{song.bpm}}</td>
   </tr>
 </tbody>
</table>

<!-- 
<ul>
  <li ng-repeat="song in songs.all" data-id="{{song._id}}">
    <div class="row">
     <div class="col-md-5">
       <a href="#">
         <img class="img-responsive" src="http://www.fillmurray.com/500/300">
       </a>
     </div>
     <div class="col-md-7">
       <h3><strong>Song Title: {{song.title}}</strong></h3>
       <h4><em> Genre: {{song.genre}}</em></h4>
       <p><em>BPM: {{song.bpm}}</em></p>
     </div>
    </div>
    <hr>
  </li>
</ul> -->